PORT=3000
DATABASE_URL=postgresql://bmi_user:strongpassword@localhost:5432/bmidb
DB_USER=bmi_user
DB_PASSWORD=strongpassword
DB_NAME=bmidb
DB_HOST=localhost
DB_PORT=5432
NODE_ENV=production
FRONTEND_URL=http://localhost
